// Colors Definition

$black: black;
$translucentBlack : rgba(0, 0, 0, 0.35);
$lessTranslucentBlack : rgba(0, 0, 0, 0.5);
$blue: #1d354d;
$darkBlue: #16283a;
$darkGray : #4C4C4C;
$gray: #f8f8f8;
$green: #94ba65;
$lightBlue: #2790b0;
$lessLightBlue: #0071a7;
$lightBlueBorder: #487591;
$lightBlueText: #80a7cf;
$grayBlue : #d8edf6;
$lightGray: #d0d0d0;
$lightestGray: #cccccc;
$lime: lime;
$mediumBlue: #28496b;
$offWhite: #f9f9f9;
$red: #A00000;
$pink : #f3dede;
$white: #FFFFFF;
$silver : #dbdbdb;
$yellow : #ffe400;
$darkYellow : #ffcc00;
$gold : #f8c816;
$darkerGray : #242323;
$redboxRed : #e12227;
$redboxTextDark : #444;
$redboxOrange : #feb109;
$orange: blue;