@import "colors";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800);

$open-sans: 'Open Sans', sans-serif;
$content-margin-top: 140px;
$content-margin-top-break: 200px;
$break: 767px;


body {
	color: $black;
	font-family: $open-sans;

	.navbar {
		background-color: $white;
		border-bottom: 2px solid $black;
		padding-bottom: 4px;
		.header-image {
			width: auto;
			img {
				margin-left: -85px;
				margin-top: 5px;
				margin-right: -100px;
			}
		}
		.nav-links {
			margin-top: 30px;
			@media screen and (max-width: $break) {
				margin-top: -10px;
			}
		}
		.alert-box {
			color: red;
		}
		.success-box {
			color: green;
		}
		.fail-box {
			color: red;
		}
	}

	.csv-upload, .album-list{
		margin-top: $content-margin-top;
		@media screen and (max-width: $break) {
  	  		margin-top: $content-margin-top-break;
		}
	}

	.csv-upload {
		.submit-btn {
			background-color: $gold;
			&:hover {
				background-color: $translucentBlack;
			}
		}
	}

	.album-list-item {
		font-family: $open-sans;
		font-weight: 300;
		font-size: 20px;
		list-style-type: none;
		
		.artist, .rating {
			font-weight: 800;
		}

		.rating {
			color: $gold;
		}

		&:nth-child(odd) {
			background-color: $offWhite;
			color: $darkGray;
		}
		
		&:nth-child(even) {
			background-color: $white;
			color: $black;
		}
	}
}