extends layout

block content
	ul.album-list
		each item in items
			.album-list-item
				li
					.artist= item.artist 
					.album= item.album 
					.release-year
						if item['release-year']
							= 'Release Year: ' + item['release-year']
						else
							= 'Release Year: unknown'
					.rating
						if item.rating
							- for (var i = 0; i < item.rating; i++)
								= '*'
						else
							= 'no rating'