extends layout

block content
	ul
		each item in items
			li
				.artist= 'Artist: ' + item.artist 
				.album= 'Album: ' + item.album 
				.release-year= 'Release Year: ' + item['release-year']
				.rating= 'Rating: ' + item.rating