extends layout

block content
  .container
    h1(class="header")= title
    .form-group
      form(action="upload", method="post", enctype="multipart/form-data")
          input(type="file", name="album_csv")
        .form-group
          label(for="resume") Upload your album info csv file
        input(type="submit" value="Submit" class="btn btn-primary")