doctype html
html
	head
		title= title
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.navbar.navbar-fixed-top
			.col-sm-3.header-image
				a(href='/')
					img(src='images/albumimporter.svg')
				ul(class='nav navbar-nav')
			.col-sm-3.nav-upload
				form(action='album', method='post', enctype='multipart/form-data' class='form-inline')
					label(for='album_csv') upload .csv file with album information
					input(type='file', name='album_csv' id='file-input')
					input(type='submit' value='Submit' class='btn btn-xs submit-btn')
			.col-xs-6.flash-messages
				.alert-box= alert
				.success-box= success
				.fail-box= fail
		block content