doctype html
html
	head
		title= title
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
	body
		.navbar.navbar-fixed-top
			.col-sm-6
				img(src='images/albumimporter.svg')
			.col-sm-6
				.alert-box= alert
				.success-box= success
				.fail-box= fail
		block content